<div class="container">
    <div class="row">
        <h1>Registrate</h1>
        <i class="material-icons" style="font-size: 200px;">person</i> <!-- otra ,manera de llamar iconos -->
        <!-- nombre de usuario -->
        <mat-form-field appearance="fill">
            <mat-label>Ingrese nombre de usuario:</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <!-- apellido de usuario -->
        <mat-form-field appearance="fill">
            <mat-label>Ingrese su apellido:</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <!-- email de usuario -->
        <mat-form-field appearance="fill">
            <mat-label>Ingrese su email</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
        <!-- contraseña de usuario -->
        <mat-form-field>
            <mat-label>ingrese su contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </div>
</div>